:root {
  --border-radius: 10px;
  --cc-bg: transparent;

  --widget-background: #1e1e2e;

  --padding: calc(var(--border-radius) / 2);
}

.control-center {
  border-radius: 0;
}

.widget-mpris {
  background: var(--widget-background);
  border-radius: var(--border-radius);
}

.widgets > .widget {
  border: var(--border);
}

.widgets > .widget,
.widget-mpris > carouselindicatordots,
.widget-mpris > box > button {
  background: var(--widget-background);
  border-radius: var(--border-radius);
  padding: calc(var(--border-radius) / 2);
}

.control-center-list-placeholder {
  padding: var(--border-radius);
}

.notification-group {
  border-radius: var(--border-radius);
  padding: 8px;
  background: #181825;
}

.notification {
  background: var(--widget-background);
}
.notification:hover {
  background: #313244;
}



.widget.widget-mpris > carouselindicatordots {
  --dots-padding: 4px;
  padding: var(--dots-padding);
  padding-left: var(--dots-padding);
  padding-right: calc(6px + var(--dots-padding));
  margin: 0;
  margin-top: var(--padding);
}
.widget-mpris > box > button:hover {
  background: rgba(46, 46, 46, 1);
}
.widget-mpris-player {
  box-shadow: none;
  border: var(--border);
  margin: 0 var(--padding);
}
.widget-mpris-player:only-child {
  margin: 0;
}