* {
    font-family: "Jetbrains Mono Nerd Font";
    font-size: 20px;
}

button {
    padding: 0px;
    border-radius: 0.6em;
}

.statusbar-primary, .statusbar-secondary {
    background-color: transparent;

> * {
        background-color: inherit;
    }
}


.statusbar-primary {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.statusbar-secondary {

    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.workspace-button, .clock, .systray, .audio, .powermenu-button, .notif-center, .date, .battery, .backlight {
    background-color: #1e1e2e;

    border-radius: 0.6em;
    font-weight: normal;
}

.battery.danger {
    color: #f38ba8;
}
.battery.warning, .backlight {
    color: #f9e2af;
}
.battery.normal {
    color: #a6e3a1;
}


.workspace-button:hover, .workspace-button.active {
    background-color: #cba6f7;
    color: #1e1e2e;
    font-weight: bold;
}

circular-progress {
    background-color: #181825;
}

.audio {
    color: #a6e3a1;
}

.audio.muted {
    color: #ed8796;
}

.workspace-button, .clock, .systray, .audio, .date, .notif-center, .battery, .backlight, .workspace-parent {
    padding: 0.25em 0.25em;
}
